###### Import Libraries

In [1]:
import pandas as pd
import numpy as np
import os 
# command to import appropriate libraries

In [2]:
!pip install dask
import dask.dataframe as dd

Requirement already satisfied: dask in c:\users\boudl\anaconda3\lib\site-packages (2023.6.0)
Requirement already satisfied: click>=8.0 in c:\users\boudl\anaconda3\lib\site-packages (from dask) (8.0.4)
Requirement already satisfied: cloudpickle>=1.5.0 in c:\users\boudl\anaconda3\lib\site-packages (from dask) (2.2.1)
Requirement already satisfied: fsspec>=2021.09.0 in c:\users\boudl\anaconda3\lib\site-packages (from dask) (2023.4.0)
Requirement already satisfied: packaging>=20.0 in c:\users\boudl\anaconda3\lib\site-packages (from dask) (23.1)
Requirement already satisfied: partd>=1.2.0 in c:\users\boudl\anaconda3\lib\site-packages (from dask) (1.4.0)
Requirement already satisfied: pyyaml>=5.3.1 in c:\users\boudl\anaconda3\lib\site-packages (from dask) (6.0)
Requirement already satisfied: toolz>=0.10.0 in c:\users\boudl\anaconda3\lib\site-packages (from dask) (0.12.0)
Requirement already satisfied: importlib-metadata>=4.13.0 in c:\users\boudl\anaconda3\lib\site-packages (from dask) (6.0.0)
Requirement already satisfied: colorama in c:\users\boudl\anaconda3\lib\site-packages (from click>=8.0->dask) (0.4.6)
Requirement already satisfied: zipp>=0.5 in c:\users\boudl\anaconda3\lib\site-packages (from importlib-metadata>=4.13.0->dask) (3.11.0)
Requirement already satisfied: locket in c:\users\boudl\anaconda3\lib\site-packages (from partd>=1.2.0->dask) (1.0.0)

In [3]:
df_opc = pd.read_pickle(r'C:\Users\boudl\Instacart Basket Analysis\02 Data\Prepared Data\orders_products_combined.pkl')
# command to import orders_products.csv as df_prods

In [37]:
desired_number_of_partitions = 50

In [38]:
ddf_opc = dd.from_pandas(df_opc, npartitions=desired_number_of_partitions)

In [39]:
df_prods = dd.read_csv(r'C:\Users\boudl\Instacart Basket Analysis\02 Data\Prepared Data\products_check.csv')
# command to import products.csv as df_prods

In [40]:
# Convert the Dask dataframe to a Pandas dataframe
df_prods_pandas = df_prods.compute()

In [41]:
df_prods.drop(columns = ['Unnamed: 0'])
# command to remove unnmamed: 0 column from dataframe

Dask DataFrame Structure:
              product_id product_name aisle_id department_id   prices
npartitions=1
                   int64       object    int64         int64  float64
                     ...          ...      ...           ...      ...
Dask Name: drop_by_shallow_copy, 2 graph layers

In [42]:
df_prods = df_prods.drop(columns = ['Unnamed: 0'])
# command to define database without this column

In [43]:
df_opc.shape
#study shape of dataframe

(32640698, 11)

In [44]:
shape = df_prods.shape
rows = shape[0].compute()  # compute the number of rows
columns = shape[1]  # Number of columns is already known

print(f"Number of rows: {rows}, Number of columns: {columns}")
# study shape of dataframe

Number of rows: 49693, Number of columns: 5

In [45]:
df_opc.head()
# study first five rows of dataframe

,order_id,user_id,order_number,day_of_week,order_hour_of_day,days_since_prior_order,first_order_flag,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,True,196.0,1.0,0.0,both
1,2539329,1,1,2,8,NaN,True,14084.0,2.0,0.0,both
2,2539329,1,1,2,8,NaN,True,12427.0,3.0,0.0,both
3,2539329,1,1,2,8,NaN,True,26088.0,4.0,0.0,both
4,2539329,1,1,2,8,NaN,True,26405.0,5.0,0.0,both

In [46]:
df_prods.head()
# study first first rows of dataframe

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [47]:
df_orders_products_check = dd.merge(df_opc, df_prods, on='product_id', indicator='merge_indicator')
# new command to merge dataframes, since df_opc is already a merged dataframe

In [48]:
df_orders_products_check.info()
# study changes to new dataframe

<class 'dask.dataframe.core.DataFrame'>
Columns: 16 entries, order_id to merge_indicator
dtypes: category(2), object(1), bool(1), float64(5), int64(7)

Please note, only a .info command can be run due to the size of the dataframe and the limits of not only machine, but dask & Python.

In [49]:
df_orders_products_check.columns
#command to see dataframe columns

Index(['order_id', 'user_id', 'order_number', 'day_of_week',
       'order_hour_of_day', 'days_since_prior_order', 'first_order_flag',
       'product_id', 'add_to_cart_order', 'reordered', '_merge',
       'product_name', 'aisle_id', 'department_id', 'prices',
       'merge_indicator'],
      dtype='object')

In [50]:
df_orders_products_check = df_orders_products_check.drop(columns=['_merge', 'merge_indicator'])

In [58]:
df_orders_products_check.columns
#command to see dataframe columns

Index(['order_id', 'user_id', 'order_number', 'day_of_week',
       'order_hour_of_day', 'days_since_prior_order', 'first_order_flag',
       'product_id', 'add_to_cart_order', 'reordered', 'product_name',
       'aisle_id', 'department_id', 'prices'],
      dtype='object')

In [66]:
df_orders_products_check.to_csv(r'C:\Users\boudl\Instacart Basket Analysis\02 Data\Prepared Data\orders_products_merged-*.csv', index=False)

['C:\\Users\\boudl\\Instacart Basket Analysis\\02 Data\\Prepared Data\\orders_products_merged-0.csv']

In [67]:
import dask.dataframe as dd

In [68]:
df = dd.read_csv(r'C:\Users\boudl\Instacart Basket Analysis\02 Data\Prepared Data\orders_products_merged-*.csv')

In [69]:
df_orders_products_check.columns
#command to see dataframe columns

Index(['order_id', 'user_id', 'order_number', 'day_of_week',
       'order_hour_of_day', 'days_since_prior_order', 'first_order_flag',
       'product_id', 'add_to_cart_order', 'reordered', 'product_name',
       'aisle_id', 'department_id', 'prices'],
      dtype='object')