# Import Libraries

In [1]:
import pandas as pd
import numpy as np
import os
# import appropriate libraries

In [2]:
df_ords_prods_merge = pd.read_pickle(r'C:\Users\boudl\Instacart Basket Analysis\02 Data\Prepared Data\orders_products_final.pkl')

# Data Study

In [3]:
df_ords_prods_merge.head()

,order_id,user_id,order_number,day_of_week,order_hour_of_day,days_since_prior_order,first_order_flag,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,True,196.0,1.0,0.0,both
1,2539329,1,1,2,8,NaN,True,14084.0,2.0,0.0,both
2,2539329,1,1,2,8,NaN,True,12427.0,3.0,0.0,both
3,2539329,1,1,2,8,NaN,True,26088.0,4.0,0.0,both
4,2539329,1,1,2,8,NaN,True,26405.0,5.0,0.0,both

In [4]:
df_ords_prods_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32640698 entries, 0 to 32640697
Data columns (total 11 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   order_number            int64
 3   day_of_week             int64
 4   order_hour_of_day       int64
 5   days_since_prior_order  float64
 6   first_order_flag        bool
 7   product_id              float64
 8   add_to_cart_order       float64
 9   reordered               float64
 10  _merge                  category
dtypes: bool(1), category(1), float64(4), int64(5)
memory usage: 2.2 GB

In [10]:
def price_label(price):
    if pd.isnull(price):
        return 'Not enough data'
    elif price <= 5:
        return 'Low-range product'
    elif price <= 15:
        return 'Mid-range product'
    else:
        return 'High-range product'
    
# command to create a new row seperating data into named groups

In [12]:
df_ords_prods_merge['prices'] = df_ords_prods_merge['prices'].astype('int8')
# change dtype of dataframe for easier processing

KeyError: 'prices'

In [ ]:
df_ords_prods['price_range'] = df_ords_prods['prices'].apply(price_label)
# apply function to dataframe

In [ ]:
df_ords_prods['price_range'].value_counts(dropna = False)
# command to display counts of conditions listed

This search result indicates there are more mid-range (19,739,755) and low-range products (12,302,118) than there are high-range (392,339) products listed in Instacart's database.

In [ ]:
df_ords_prods['prices'].max()
# max value in column

### Define Prices Using LOC function

In [ ]:
df_ords_prods['price_range'] = 'Not enough data'

In [ ]:
df_ords_prods.loc[df_ords_prods['prices'] <= 5, 'price_range'] = 'Low-range product'

In [ ]:
df_ords_prods.loc[(df_ords_prods['prices'] > 5) & (df_ords_prods['prices'] <= 15), 'price_range'] = 'Mid-range product'

In [ ]:
df_ords_prods.loc[df_ords_prods['prices'] > 15, 'price_range'] = 'High range'

In [ ]:
df_ords_prods['prices'] = df_ords_prods['prices'].astype('int8')

In [ ]:
df_ords_prods['price_range'].value_counts(dropna = False)
# command to display counts of conditions listed

## Resume Data Study

In [ ]:
result = []

for value in df_ords_prods["day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")
    
# define the condition

In [ ]:
df_ords_prods['busiest_day'] = result
# command to define busiest day

In [ ]:
df_ords_prods['day_of_week'] = df_ords_prods['day_of_week'].astype('int8')
# change dype for easier processing

In [ ]:
df_ords_prods['busiest_day'].value_counts(dropna = False)
# command to display counts of conditions listed

This result suggests that most days of business are regularly busy (22,437,387) while busiest (6,209,632) and least busiest (3,787,193) are less than common.

In [ ]:
result = []

for value in df_ords_prods["day_of_week"]:
  if value in [1, 0]:  # busiest days are (1) Monday and (0) Sunday
    result.append("Busiest days")
  elif value in [3, 4]:  # least busiesy days are (3) Tuesday and (4) Wednesday
    result.append("Slowest days")
  else:
    result.append("Regularly busy")
    
# define the condition

In [ ]:
df_ords_prods['busiest_days'] = result
# command to define busiest days

In [ ]:
df_ords_prods['day_of_week'] = df_ords_prods['day_of_week'].astype('int8')
# change dype for easier processing

In [ ]:
df_ords_prods['busiest_days'].value_counts(dropna = False)
# command to display counts of conditions listed

With this new function looking at only the two busiest and two slowest days, our data balances slighty: regular days are only noted 12,927,461 times with busiest days a close second at 11,875,462 days. Slowest days are still a bit behind with only 7,631,289 days. This strongly suggests that most days of business are fairly normal, and that the two slowest days only make a portion of days for sales versus regular and busy days

In [ ]:
df_ords_prods['order_hour_of_day'].value_counts(dropna = False)

In [ ]:
result = []

for value in df_ords_prods["day_of_week"]:
    if value in [1, 0]: # busiest days are (1) Monday and (0) Sunday
        result.append('Most Orders') 
    elif value in [3, 4]:  # least busiesy days are (3) Tuesday and (4) Wednesday
        result.append('Fewest Orders')
    else:
        result.append('Average Orders')
# command to create a new row seperating data into named groups

In [ ]:
df_ords_prods['busiest_period_of_day'] = result

In [ ]:
df_ords_prods['busiest_period_of_day'] = df_ords_prods['busiest_period_of_day'].astype('int8')
# change dype for easier processing

In [ ]:
df_ords_prods['busiest_period_of_day'] = df_ords_prods['busiest_period_of_day'].map(busiest_period_of_day)
# define the dataframe with the condition

In [ ]:
df_ords_prods['busiest_period_of_day'].value_counts(dropna = False)
# display this row after changes

The busiest hours were between 0900 (9) and 1500 [3pm] (15) while the slowest hours were between 0000 [midnight] (0) and 0600 [6am] (6). With this in mind, I wrote a condition defining the busiest and slowest times for orders, marking all other results as average.

# Export Dataframe

In [ ]:
path = r'C:\Users\boudl\Instacart Basket Analysis'
# define path export

In [ ]:
df_ords_prods.to_pickle(os.path.join(r'C:\Users\boudl\Instacart Basket Analysis\02 Data\Prepared Data\orders_products_merged.pkl'))
#command to export dataframe